<!--<div class="myhdr">
  <h1><strong>mS</strong><em>portal</em></h1>
</div>-->

<div style="display:flex;">
  <div>
    <div class="corg">
      <h1>Welcome Back John Doe</h1>  
    </div>
    <div style="border:2px solid #ccc;max-width:400px;">
      <div class="cblu" style="margin-left:20px;font-weight:600;color:#5DADE2;">
        <h2>Upcoming Events</h2>
      </div>
      <div class="uplist" style="margin-left:-20px;">
        <ul>
          <li>
            <div>
              <div class="redbox">Jun</div>
              <div class="greybox">4</div>
            </div>
            <div>
              <div class="cevnt">Event 1</div>
              <div style="margin-left:10px;">This event is about the use of very high. This is about the use of very high systems. This event is about the use of very high systems.</div>
            </div>
          </li>
          <li> 
            <div>
              <div class="redbox">Jun</div>
              <div class="greybox">17</div>
            </div>
            <div>
              <div class="cevnt">Event 1</div>
              <div style="margin-left:10px;">This event is about the use of very high. This is about the use of very high systems. This event is about the use of very high systems.</div>
            </div>
          </li>
          <li>
            <div>
              <div class="redbox">Jun</div>
              <div class="greybox">29</div>
            </div>
            <div>
              <div class="cevnt">Event 1</div>
              <div style="margin-left:10px;">This event is about the use of very high. This is about the use of very high systems. This event is about the use of very high systems.</div>
            </div>
          </li>
          <li>
            <div>
              <div class="redbox">Jul</div>
              <div class="greybox">1</div>
            </div>
            <div>
              <div class="cevnt">Event 1</div>
              <div style="margin-left:10px;">This event is about the use of very high. This is about the use of very high systems. This event is about the use of very high systems.</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div style="border:2px solid #ccc;margin-top:10px;margin-left:10px;width:800px;height:400px;">
    <h2 class="mglft10 cblu">Available mS-Portal Services</h2>
    <div>
      <ul style="display:flex;margin-left: -40px;">
        <li class="pbox mglft10 dblu">
          <h4>CustomerDB<br> Page</h4>
          <div>
            <button type="button">
              <a href="http://192.168.99.100/msportal/customerdb/">View</a>        
            </button>
          </div>
        </li>
        <li class="pbox ornge">
          <h4>Products<br> Page</h4>
          <div>
            <button type="button">
              <a href="http://192.168.99.100/msportal/products/">View</a>
            </button>
          </div>
        </li>
        <li class="pbox gren">
          <h4>Cart<br> Page</h4>
          <div>
            <button type="button">
              <a href="http://192.168.99.100/msportal/cart/">View</a>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>